
.to-do {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 0;
  &_card {
    width: 30%;
    height: 50px;
    padding: 15px;
    background-color: rgb(255, 198, 198);
    color: black;
    margin-left: 1px;
    margin-bottom: 1px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    cursor: pointer;
    &_completed {
      background-color: rgb(217, 255, 217);
    }
    &_style {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      &_body {
        font-style: italic;
      }
    }
  }
}
