/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: black;
  text-decoration: none;
  background-color: rgb(155, 207, 255);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  height: 40px;
}

.heroes a:hover {
  color: #ffffff;
  background-color: rgb(0, 110, 255);
}

.heroes a:active {
  background-color:  rgb(0, 110, 255)00;
  color: black;
}

.heroes .name {
  display: inline-flex;
  margin-left: 2em;
}

.heroes .badge {
  display: inline-block;
  color: white;
  background-color: #405061;
  position: relative;
  left: 0em;
  top: 0em;
  margin: 0;
  padding: 5px 5px 5px 5px;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  right: 1em;
  top: .55em;
  background-color: #525252;
  color: white;
  font-size: 1.1rem;
  margin: 0;
  padding: 5px 5px 5px 5px;
  border-color: #333;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}

.ng-valid:enabled {
  border: 2px solid #42A948;
  /* green */
}

.ng-invalid:enabled {
  border: 2px solid #a94442;
  /* red */
}