/* HeroesComponent's private CSS styles */
.heroes-page {

  &_container {

    &_row {

      &_col {
        position: relative;
        cursor: pointer;

        &_card {
          display: flex;
          color: var(--color-black);
          text-decoration: none;
          background-color: var(--color-1);
          margin: .5em;
          height: 1.6em;
          border-radius: 4px;
          height: 40px;
          align-self: center;

          &_badge {
            display: flex;
            color: var(--color-white);
            background-color: var(--color-2);
            border-radius: 4px 4px 4px 4px;
          }

          &_name {
            margin-left: 2em;
          }

          &:hover {
            color: var(--color-white);
            background-color:var(--color-1-dark);
          }

          &:active {
            background-color: var(--color-1-dark);
            color: var(--color-black);
          }
        }

        &:hover {
          left: .1em;
        }
      }
    }
  }
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: var(--color-white);
  background-color: var(--color-2);
}

button.delete {
  position: absolute;
  right: 1em;
  top: .55em;
  background-color: var(--color-2);
  color: var(--color-white);
  font-size: 1.1rem;
  margin: 0;
  padding: 5px 5px 5px 5px;
}

button.delete:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.ng-valid:enabled {
  border: 2px solid var(--color-3);
}

.ng-invalid:enabled {
  border: 2px solid var(--color-4);
}