
.to-do {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 0;
  &_card {
    width: 33%;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--color-4-light);
    color: var(--color-black);
    border-style: solid;
    border-color: var(--color-black);
    border-width: 0.5px;
    cursor: pointer;
    &_completed {
      background-color: var(--color-3-light);
    }
    &_style {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      &_body {
        font-style: italic;
      }
    }
  }
}
