<h2>My Heroes </h2>
<div>
    <ul class="heroes">
        <li *ngFor="let hero of heroes">
          <a routerLink="/detail/{{hero.id}}">
            <button type="button"  [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
                <span class="badge">{{hero.id}}</span>
                <span class="name">{{hero.name}}</span>
                <span *ngIf="hero.typeId">{{heroTypeNames[hero.typeId]}}</span>
                <app-label [(text)]="hero.name"></app-label>
            </button>
          </a>
          <div>
            <label for="new-hero">Hero name: </label>
            <input id="new-hero" #heroName />
            <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">Add hero</button>
            <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
          </div>
        </li>
    </ul>
</div>
<div>
  
</div>
<!-- <div>
    <ul class="users">
        <li *ngFor="let user of users">
            <app-label [(text)]="user.name"></app-label>
            <div>{{user.name}}</div>
            <div>{{user.id}}</div>
            <div>{{user.phone}}</div>
        </li>
    </ul>
</div> -->

